@model DesafioCarteira.Models.Pessoa

<link href="~/css/areaPessoal.css" rel="stylesheet" />

<div class="row">
    <div class="text-left w-25 texto-bv col-md-6">Bem Vindo de volta,<br />@Model.Nome</div>
</div>

<hr class="my-4">

<div class="row">
    <div class="col-md-4">
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-dark btn-card" asp-controller="Pessoa" asp-action="Cadastrar">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="~/imgs/cadastro.png" class="w-50" />
                    </div>
                    <div class="card-footer">
                        Cadastrar Cliente
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-dark btn-card" asp-controller="Pessoa" asp-action="Lista" asp-route-pessoaId="@Model.PessoaId">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="~/imgs/pessoas.png" class="w-50" />
                    </div>
                    <div class="card-footer">
                        Clientes
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-dark btn-card" asp-controller="Pessoa" asp-action="Update" asp-route-pessoaId="@Model.PessoaId">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="~/imgs/config.png" class="w-50" />
                    </div>
                    <div class="card-footer">
                        Configurações da Conta
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

